@import '../settings/variables';
@import '../settings/rwd';

* {
    box-sizing: border-box;
}

body {
    font-family: $font-family-basic;
    background-color: $color-white;

    .container {
        margin: 0 auto;
        max-width: 1200px;
        padding-top: 1rem;
    }

    h1 {
        font-size: 3rem;
        font-family: $font-family-ornamental;
        font-weight: 600;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
        text-align: center;
    }

    ol {
        list-style-type: upper-roman;
    }

    small {
        font-family: $font-family-freehand;
    }

    .text {
        color: $color-green-basic;
        line-height: 1.5rem;
        text-indent: 1rem;
        text-align: justify;

        @include tablet {
            padding: 2rem;
        }

        @include mobile {
            padding: 1rem;
        }

        &-paragraph {
            text-indent: 2em;
            line-height: 1.5em;
            text-align: justify;
        }
    }
}
.d-none {
    display: none;
}