@import '../settings/variables';

.formalities {

    &__tips {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin: 2em 0;

        h3 {
            font-family: $font-family-freehand;
            font-weight: 700;
            font-size: 1.3em;
            color: $color-green-basic;
        }

    }
}