@import '../settings/variables';

.formalities {
    padding: 2em;
    &__tips {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin: 2em 0;

        h2 {
            font-family: $font-family-freehand;
            font-weight: 700;
            color: $color-green-basic;
        }

    }
}