@import '../settings/variables';

.guestcard {


    &-counter {
        text-align: right;
        font-family: $font-family-ornamental;
        font-weight: 900;
    }
    &__body {
        background-color: $color-green-basic;
        padding: 1em 2em;
        color: $color-white;
        text-align: center;
        margin: 3em;
        box-shadow: 0 0.5em 1em 0.12em $color-dark-grey;
        width: 50%;
        border-radius: 1rem;


        form {
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            gap: 0.5em;

            input {
                background-color: $color-green-basic;
                border: none;
                border-bottom: 0.1em solid $color-white;
                &:focus {
                    background-color: $color-white;
                    border: 0.1em solid $color-white;
                }
            }
        }
    }
}
.alert {
    color: $color-yellow;
    font-weight: bolder;
}