@import '../settings/variables';

.guestcard {
    display: flex;
    &-counter {
        text-align: right;
        font-family: $font-family-ornamental;
        font-weight: 900;
    }
    &-body {
        box-shadow: 0 0.5em 1em 0.12em $color-dark-grey;
        margin: 1.73em;
        border-radius: 1rem;
    }
    &__form {
        background-color: $color-green-basic;
        padding: 1em 2.5em;
        color: $color-white;
        text-align: center;
        align-items: center;
        justify-content: center;
        max-width: 35%;
        max-height: 19em;

        h3 {
            font-family: $font-family-freehand;
            text-align: left;
        }
        &-alert {
            font-weight: bolder;
            text-transform: lowercase;
        }

        form {
            padding: 1em 2em;
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            gap: 0.65em;

            input {
                background-color: $color-green-basic;
                border: none;
                border-bottom: 0.1em solid $color-white;
                &:focus {
                    background-color: $color-white;
                    border: 0.1em solid $color-white;
                }
            }
        }
    }
    &__list {
        background-color: $color-white;
        width: 65%;
        padding: 1em;
        display: flex;

        &-singleguest {
            display: flex;
            gap: 6em;
            padding: 1em;

            &:nth-child(even) {
                background: $color-light-grey;
            }
        }
    }
}


.line {
    border-right: 0.13em double $color-light-grey;
}