@import '../settings/variables';
.weddingparty {
    line-height: 1.56em;

    h3, h2, p {
        text-align: center;
        padding-top: 1em;
    }

    &__halls {
        margin-top: 3em;

        &-examples {
            margin: 1.5em;
            display: flex;
            gap: 0.5em;

            ul {
                margin-top: 1em;

                li {
                    list-style: none;
                    margin-left: 0.5em;
                }
            }
        }
    }
    &__tips {
        margin-top: 3em;

        &__arrangement {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 40%;
            }
        }

        &__tablesetting {
            display: flex;
            gap: 1em;

            &__box {
                display: flex;
                flex-direction: column;
                gap: 1em;
                align-items: center;

                &-text {
                    font-family: $font-family-freehand;
                    font-size: 1.5em;
                    text-align: center;

                    p {
                        font-weight: 600;
                    }
                }

                img {
                    width: 90%;
                }
            }
        }
    }
}
