@import '../settings/variables';

.wedding-vision {
    font-family: $font-family-freehand;
    margin: 3rem 13rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;


    .wedding-vision-selection {
        display: flex;
        justify-content: space-between;

        h2 {
            font-weight: 900;
        }

        &__main {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            font-size: 1.25rem;

            p {
                color: $color-dark-grey;
                font-weight: 600;
            }
        }
    }
}

.wedding-priorities {

    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    gap: 1rem;
    margin: 3rem 0;

    &__text {
        color: $color-green-basic;
        line-height: 1.5rem;
        text-indent: 1rem;
        text-align: justify;

    }

    &__selection {
        display: flex;
        justify-content: space-around;

        &-part {
            display: flex;
            flex-direction: column;
        }
    }
}

.prioritiesList {
    width: 100%;
    margin: 2rem auto;
    border-radius: 1rem;
    box-shadow: 0 0.5em 1em 0.12em $color-dark-grey;

    input {
        border: none;
        width: 75%;
        padding: 10px;
        float: left;
        font-size: 16px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            cursor: pointer;
            position: relative;
            padding: 12px 8px 12px 40px;
            background: #eee;
            font-size: 18px;
            transition: 0.2s;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:last-child {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            &:nth-child(odd) {
                background: #f9f9f9;
            }

            /* Darker background-color on hover */
            &:hover {
                background: #ddd;
            }

            &.done {
                background: #888;
                color: #fff;
                text-decoration: line-through;

                /* Add a "checked" mark when clicked on */
                &::before {
                    content: "";
                    position: absolute;
                    border-color: #fff;
                    border-style: solid;
                    border-width: 0 2px 2px 0;
                    top: 15px;
                    left: 16px;
                    transform: rotate(45deg);
                    height: 15px;
                    width: 7px;
                }
            }
        }
    }
  }


  /* Style the header */
  .prioritiesList .prioritiesList__header {
    background-color: $color-green-basic;
    padding: 30px 40px;
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /* Clear floats after the header */
    &:after {
        content: "";
        display: table;
        clear: both;
    }
  }


  /* Style the "Add" button */
  .prioritiesList .btn-add {
    padding: 11px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    border: 0;

    &:hover {
        background-color: #bbb;
      }
}
