@import '../settings/variables';

.wedding-vision {
    font-family: $font-family-freehand;
    margin: 3rem 13rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .wedding-vision-selection {
        display: flex;
        justify-content: space-between;

        h2 {
            font-weight: 900;
        }

        &__main {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            font-size: 1.25rem;

            p {
                color: $color-dark-grey;
                font-weight: 600;
            }
        }
    }
}

.wedding-priorities {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    gap: 1rem;
    margin: 3rem 0;

    &__text {
        color: $color-green-basic;
        line-height: 1.5rem;
        text-indent: 1rem;
        text-align: justify;

    }

    &__selection {
        display: flex;
        justify-content: space-around;

        &-part {
            display: flex;
            flex-direction: column;
        }
    }
}