@import '../settings/variables';
@import '../settings/rwd';

.wedding-priorities {
    line-height: 1.5rem;
    gap: 1rem;
    margin: 3rem 0;

    &__selection {
        display: flex;
        justify-content: space-around;


        @include mobile {
            flex-direction: column;
            padding: 1em;
        }

        &-part {
            display: flex;
            flex-direction: column;
        }
    }
}

.wedding-styles {
    display: flex;
    gap: 0.1em;
    line-height: 1.4em;
    flex-wrap: wrap;

    &__element{
        color: $color-green-basic;
        width: 30%;

        .d-none {
            display: none;
        }

        p {
            font-weight: 900;
        }

        li {
            list-style: none;
            position: relative;
            padding: 0 0 0 20px;
        }
    }

    .dropdown {
        border: none;
        background-color: $color-green-basic;
        color: $color-beige;
        padding: 1em 2em;
        width: 100%;
        text-align: center;
    }
}

.vision__inspirations {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 0.1em;

    &__view {
        padding: 1em;
        display: flex;
        gap: 2em;
        flex-wrap: wrap;

        &-box {
            display: flex;
            flex-direction: column;

            h3 {
                font-family: $font-family-freehand;
                font-weight: 700
            }
            img {
                max-width: 22rem;
                height: 28rem;
            }
        }
    }
}