@import '../settings/variables';



.wedding-styles {

    &__elements {
        display: flex;
        gap: 0.1em;
        line-height: 1.4em;
        flex-wrap: wrap;

        &-single{
            color: $color-green-basic;
            width: 30%;

            p {
                font-weight: 900;
            }
        }
    }
    .dropdown {
        border: none;
        background-color: $color-green-basic;
        color: $color-beige;
        padding: 1em 2em;
        width: 100%;
        text-align: center;
    }

    &__inspirations {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 0.1em;

        &__view {
            padding: 1em;
            display: flex;
            gap: 2em;
            flex-wrap: wrap;

            &-box {
                display: flex;
                flex-direction: column;

                h3 {
                    font-family: $font-family-freehand;
                    font-weight: 700
                }
                img {
                    max-width: 22rem;
                    height: 28rem;
                }
            }
        }
    }
}