$color-white: #F7F7F7;
$color-beige: #F2E7D5;
$color-green-basic: #6D9886;
$color-dark-green-intensive: #00631c;
$color-light-grey: #ccc;
$color-dark-grey: #393E46;
$color-black: #242424;

$body: #f0ccbd;
$body-shadow: #f3bba3;
$hair: #603b00;
$hair-shadow: #362201;


$font-family-basic: 'Lato', sans-serif;
$font-family-ornamental: 'Parisienne', cursive;
$font-family-freehand: 'Oooh Baby', cursive;