$color-white: #F7F7F7;
$color-beige: #F2E7D5;
$color-green-basic: #6D9886;
$color-light-grey: #ccc;
$color-dark-grey: #393E46;
$color-black: #242424;
$font-family-basic: 'Lato', sans-serif;
$font-family-ornamental: 'Parisienne', cursive;
$font-family-freehand: 'Oooh Baby', cursive;

* {
    box-sizing: border-box;
}

body {
    font-family: $font-family-basic;
    background-color: $color-white;

    h1 {
        font-size: 3rem;
        font-family: $font-family-ornamental;
        font-weight: 600;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
    }

    .container {
        margin: 0 auto;
        max-width: 1200px;
        padding-top: 1rem;
    }

    .checkbox {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 1.4em;
        font-weight: 600;
        font-family: $font-family-freehand;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        span {
            border-radius: 50%;
            border: 0.2em solid $color-green-basic;
            height: 1em;
            flex-shrink: 0;
            flex-basis: 1em;
            margin-right: 0.2em;
            margin-bottom: 0.1em;
        }
        input:checked + span {
            background-color: $color-green-basic;
        }
    }
}